* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid black; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 1fr 60px;
    height: 100vh;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    grid-row: 1/1;
    grid-column: 1/4;
    padding: 30px;
    padding-bottom: 30px;
    /* overflow-y: hidden; */

    justify-content: space-around;
}

.addBook-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 0px; */
    background-color: white;
    border: solid 2px white;
    font-size: large;
    /* padding: 12px 24px 12px; */


    padding: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

.plus-btn {
    height: 18px;
    width: 18px;
}

.addBook-btn:hover {
    text-align: center;
    justify-content: center;
    font-size: large;
    border: solid 2px black ;
    padding: 0px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
}

.main {
    grid-column: 2/4;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: scroll;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: min-content;
    gap: 32px;
    justify-items: center;
    overflow-x: hidden;
    /* margin-right: 12px; */
    /* margin-left: 12px; */

    /* Uncomment this to get space for sometin on the right side*/
    /* grid-column: 3; */
}

.filter {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2); 
    border: solid black 1px;
    margin-left: 12px;
    padding-top: 12px;
    border-radius: 8px;

}

.form-filter-box {
    padding-top: 12px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    width:  min-content;
    outline: none;
    border-bottom: solid black 1px;
    width: 100%;
}


.filter-header {
    padding-bottom: 24px;
    text-align: center;
}
.genre-filter {

    /* font-size: medium; */
    padding-top: 12px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px;
    width:  min-content;
    outline: none;
    border-bottom: solid black 1px;
    width: 100%;

}

.filter-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.filter-title {
    /* color: rgb(255, 92, 92); */
    font-size: medium;
}

.filter-button {
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-right: 12px;
    padding-left: 12px; */
    color: white;
    border: 0px;
    background-color: rgb(87, 177, 255);;
    border: solid rgb(87, 177, 255) 2px;
    border-radius: 7px;
    font-weight: 700;

    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.filter-button:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-right: 12px;
    padding-left: 12px; */
    color: rgb(87, 177, 255);
    border: solid rgb(87, 177, 255) 2px;
    background-color: white;
    border-radius: 7px;
    font-weight: 700;
}


.book-card{
    position: relative;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2); 
    padding: 18px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    max-height: fit-content;
    width: 300px;
    border: solid black 2px;
    border-radius: 6px;
}

.book-star {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: row;
    padding-right: 60px;
    padding-left: 6px;
}

.fa-solid {
    font-size: 18px;
    transition: transform 0.01s ease;
}

.fa-solid:hover {
    transform: scale(1.2);
}

.book-star i {
    color: #e6e6e6;
    cursor: pointer;
  }
.book-star i.active {
    color: #ff9c1a;
  }

.delete-book-card {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
    border: 0px;
    background-color: red;
    border: solid red 2px;
    border-radius: 7px;
    font-weight: 700;
}

.delete-book-card:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    color: red;
    border: solid red 2px;
    background-color: white;
    border-radius: 7px;
    font-weight: 700;
}

.book-marker {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    /* vertical-align: middle; */
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.check-mark {
    height: 26px;
}

.book-marker:checked {
    background-color: rgb(66, 160, 66);
    /* background-color: #7b7c7e; */
    border: 1px solid rgb(66, 160, 66);
}


.book-title-card {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #343a40;
}

.book-author-card {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 18px;
    color: #495057;
}

.book-genre-card {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 16px;
    color: #495057;
}

.book-rating-card {
    /* position: absolute; */
    /* padding: 5px 10px; */
    /* bottom: 0; */
    /* right: 0; */
    
    display: flex;
    padding-top: 30%;
    padding-left: 2px;
    font-size: 14px;
    color: #495057; 

    justify-content: space-between;
}

.footer {
    font-weight: 500;
    grid-column: 1/4;
    grid-row: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;

    text-align: center;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;

    width: 400px;
}

.form-title {
    font-size: x-large;
}

.form-input-box {
    font-size: large;

    padding: 12px;
    padding-left: 12px;
    padding-right: 0px;
    border: 0px;

    outline: none; /* Remove outline when focused */
    border-bottom: solid black 1px;
}

.form-input-box:focus {
    outline: none; /* Remove outline when focused */
    border-bottom: solid black 1px;
}

label {
    padding-top: 24px;
    font-size: large;
}

.read-form-cbox {
    /* padding-top: 24px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.formDialog {
    border: 0px;

    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-btn {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

  
.submit-form{
    background-color: white;
    border: 0px;

    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    padding-right: 3px;
    padding-left: 3px;

    font-size: large;
    font-weight: 600;
    border-bottom: solid white 2px;
}

.cancel-form{
    background-color: white;
    border: 0px;
    color: #495057;
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    padding-right: 3px;
    padding-left: 3px;

    font-size: large;
    font-weight: 500;
    border-bottom: solid white 2px;
}

.submit-form:hover{
    border: 0px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: large;
    font-weight: 600;

    border-bottom: solid black 2px;
}

.cancel-form:hover{
    border: 0px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: large;
    font-weight: 500;
    color: #495057;
    border-bottom: solid #495057 2px;
}